@mixin fadeInLeft()
	0% 
		opacity: 0
		transform: translateX(+25%)
	75% 
		opacity: 0.5
		transform: translateX(0)
	100% 
		opacity: 1


@mixin fadeInLeftBanner()
	0% 
		opacity: 0
		transform: translateX(+20%)
	10%
		opacity: 1
	75% 
		transform: translateX(0)
	100% 
		opacity: 1